[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-enumchoicefield = "*"
black = "*"
djangorestframework = "*"
dj-database-url = "*"
psycopg2-binary = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
flake8 = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.12"
